# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# ------------------------------------------------------------------------------
# System
# ------------------------------------------------------------------------------
if [ -n "$(which apt-get)" ]; then
    alias upgrade="sudo apt-get update && sudo apt-get upgrade"
    alias clipboard="xclip -se c"
fi

# ------------------------------------------------------------------------------
# Directory listing
# ------------------------------------------------------------------------------
if [[ "$OSTYPE" == "darwin"* ]]; then
    alias ls="ls -G"
    alias fixaudio="sudo killall coreaudiod"
else
    alias ls="ls -A --color=auto"
fi
alias ll="ls -lh"

# ------------------------------------------------------------------------------
# Navigation
# ------------------------------------------------------------------------------
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
#alias code="cd ~/Code"

# ------------------------------------------------------------------------------
# Confirmation messages
# ------------------------------------------------------------------------------
alias rm='rm -iv'
alias mv='mv -iv'

# ------------------------------------------------------------------------------
# Grep
# ------------------------------------------------------------------------------
alias h="history | grep "
alias f="find .  | grep "
alias p="ps aux  | grep "

# ------------------------------------------------------------------------------
# Workflow
# ------------------------------------------------------------------------------
alias art="php artisan"
alias dt="docker-compose exec php vendor/bin/phpunit"
alias dphp="docker-compose exec php php"
alias con="php bin/console"
alias c="composer"
alias c1="/usr/local/bin/composer1"
alias c2="/usr/local/bin/composer"
alias gae="dev_appserver.py --php_executable_path=$(which php-cgi)"
alias robo="./vendor/bin/robo"
alias t="./vendor/bin/phpunit"
alias tt="./vendor/bin/phpunit --order-by=defects --stop-on-defect" 
alias dcu="docker-compose up"
alias brun="./bin/run"
alias binstall="./bin/install"
alias bpre="./bin/precommit"
alias dcd="docker-compose down"
alias delete-squashed='git checkout -q master && git for-each-ref refs/heads/ "--format=%(refname:short)" | while read branch; do mergeBase=$(git merge-base master $branch) && [[ $(git cherry master $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done'
alias python="python3"
function gh() {
    local repo_url=`git remote get-url origin | sed -e 's/git@//' -e 's/.git//' -e 's/:/\//'`
    open "https://$repo_url"
}

function ghu() {
     local repo_url=`git remote get-url upstream | sed -e 's/git@//' -e 's/.git//' -e 's/:/\//'`
     open "https://$repo_url"
}

# ------------------------------------------------------------------------------
# Projects
# ------------------------------------------------------------------------------
alias df="cd ~/code/dotfiles"
alias lf="cd ~/code/littlefacet"
alias mh="cd ~/code/markhesketh"

# ------------------------------------------------------------------------------
# Misc
# ------------------------------------------------------------------------------
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Local config
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
